include README.md
include LICENSE
include CONTRIBUTING.md
include .env.example
recursive-include consistancy *.py
recursive-include consistancy/dashboard *.toml
recursive-include tests *.py
recursive-include .github *.yml
